.dropbox
.DS_Store
.spyderproject
*.pyc
IPython/.ipynb_checkpoints
*.lyx~
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
.project
.pydevproject
.settings/
*.lyx~
lyx/doc/*.lyx~
*.bib.bak
datasets/*
datasets/

